*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bulbBox{
    height: 100vh;
    background: linear-gradient(#6441A5,#2a0845);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}